/* app css stylesheet */

h1,h2,h3,h4,h5,h6,  {
  margin: 0;
  text-align: center;
}
ul, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #3F51B5;
}
a:hover {
  text-decoration: underline;
}

html,
button,
input,
select,
textarea {
    font-family: 'Open Sans', sans-serif;
}
html {
  height: 100%;
  box-sizing:border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
  background-color: #ececec;
}
body>div {
  height: 100%;
}

.top-bar {
  background: #455a64;
  overflow: hidden;
  height: 40px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  position: fixed;
  z-index: 10;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
  width: 100%;
}

.top-bar h3 {
  margin: 5px 10px;
  float: left;
}

.top-bar a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.top-bar-section > ul {
  margin: 5px;
  height: 100%;
}

.top-bar-section > ul > li {
  display: inline-block;
  margin: 0 5px;
  height: 100%;
}

.top-bar-section > ul > li > a {
  font-size: 16px;
  background: #455a64;
  vertical-align: middle;
}


.welcome {
  background-image: url('public/images/welcome_image.png');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding: 200px 0;
}
.welcome-content {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  padding: 50px;
}
.welcome-content > h2 {
  margin: 10px 0;
}


.about {
  padding: 100px 200px;
  height: 400px;
  overflow: hidden;
}
.about-wrapper {
  width: 800px;
  margin: 0 auto;
}
.headshot-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 4px 3px 0 rgba(0,0,0,0.2);
  float: left;
}
.headshot-container > img {
  max-width: 100%;
}
.info-container {
  float: left;
  margin: 20px;
  width: 600px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 4px 3px 0 rgba(0,0,0,0.2);
}

.right {
  float: right;
}

.projects {
  padding: 20px 200px 50px;
  min-height: 400px;
  overflow: hidden;
  background-color: #607D8B;
  position: relative;
}
.projects>h1{
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.project-wrapper {
  width: 800px;
  margin: 0 auto;
  position: relative;
}
.image-wrapper {
  position: absolute;
  width: 200px;
  height: 150px;
  -webkit-transition:0.5s ease-out all;
  -moz-transition:0.5s ease-out all;
  -o-transition:0.5s ease-out all;
  transition:0.5s ease-out all;
}
.project-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  background-color: white;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition:0.2s ease-out all;
  -moz-transition:0.2s ease-out all;
  -o-transition:0.2s ease-out all;
  transition:0.2s ease-out all;
}
.project-image >img {
  max-height: 100%;
}
.project-image:hover {
  width: 160px;
  height: 160px;
}

.image-wrapper:nth-child(1) {left: 0px;}
.image-wrapper:nth-child(2) {left: 200px;}
.image-wrapper:nth-child(3) {left: 400px;}
.image-wrapper:nth-child(4) {left: 600px;}

.project-image.detailed {
  height: 0;
  width: 0;
  -webkit-transition:0.5s ease-out all;
  -moz-transition:0.5s ease-out all;
  -o-transition:0.5s ease-out all;
  transition:0.5s ease-out all;
}
.project-image.detailed.active {
  height: 160px;
  width: 160px;
}
.image-wrapper.active {
  left: 0px;
  -webkit-transition-delay: 0.5s; /* Safari */
  transition-delay: 0.5s;
}


.project-info {
  position: absolute;
  top: 0;
  left: 2000px;
  overflow: hidden;
  width: 600px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  background-color: white;
  -webkit-transition:1.5s ease-out all;
  -moz-transition:1.5s ease-out all;
  -o-transition:1.5s ease-out all;
  transition:1.5s ease-out all;
}
.project-info>h3 {
  margin-top: 0;
}
.project-info.active {
  left: 300px;
}
.refresh-projects {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 380px;
  bottom: -400px;
  background-color: #3F51B5;
  color: white;
  cursor: pointer;
  -webkit-transition:1.5s ease-out all;
  -moz-transition:1.5s ease-out all;
  -o-transition:1.5s ease-out all;
  transition:1.5s ease-out all;
}
.refresh-projects>i {
  font-size: 30px;
  margin-top: 5px;
}
.refresh-projects.detailed {
  bottom: -250px;
}




.contact {
  padding: 50px 200px;
  overflow: hidden;
}
.contact-info>h1 {
  text-align: center;
}
.contact-info>h2  {
  text-align: center;
  margin-bottom: 5px;
}
.contact-info>h3 {
  text-align: center;
  margin-top: 0;
}
.center {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
}
.center>ul>li {
  display: inline-block;
  float: left;
  list-style: none;
}


.buffer {
  height: 200px;
  background-color: #455a64;
}