<nav class="top-bar" role="navigation">
  <h3><a href="#/about">Jake Dluhy</a></h3>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="mailto:{{contactInfo.email}}"><i class="fa fa-envelope-o"></i></a></li>
      <li><a href="{{contactInfo.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="{{contactInfo.github}}"><i class="fa fa-github"></i></a></li>
      <li><a href="{{contactInfo.stackOverflow}}"><i class="fa fa-stack-overflow"></i></a></li>
    </ul>
  </section>
</nav>

<div class="splash-div welcome">
	<div class="welcome-content">
		<h1>Hi, I'm Jake</h1>
		<h3>Entrepreneur, Programmer, and Adventurer</h3>
	</div>
</div>
<div class="splash-div about">
	<div class="headshot-container">
		<img ng-src="{{bio.picURL}}">
	</div>
	<div class="info-container" ng-repeat="paragraph in bio.bioContent">
	<p>{{paragraph}}</p>
	</div>
</div>
<div class="splash-div projects">
	<h1>Projects</h1>
	<div class="project-wrapper" ng-repeat="project in projects">
		<div class="project-image">
			<a href="{{project.url}}"><img ng-src="{{project.imgURL}}"></a>
		</div>
	</div>
	
</div>
<div class="splash-div contact">
	<div class="contact-info">
		<h1>Contact Info</h1>
		<h2><a href="mailto:{{contactInfo.email}}">{{contactInfo.email}}</a></h2>
		<h3>708-567-5289</h3>
		<ul class="center">
      <li><a href="{{contactInfo.linkedin}}"><i class="fa fa-linkedin-square"></i></a></li>
      <li><a href="{{contactInfo.github}}"><i class="fa fa-github"></i></a></li>
      <li><a href="{{contactInfo.stackOverflow}}"><i class="fa fa-stack-overflow"></i></a></li>
    </ul>
	</div>
</div>
<div class="splash-div buffer">

</div>